
body{
    max-width: 550px;
    margin: 0 auto;
    
}


@font-face{
    font-family: 'HLight';
    src: url('./fonts/TiemposHeadline-Light.woff2') format('woff');
}

@font-face{
  font-family: 'HRegular';
  src: url('./fonts/TiemposHeadline-Regular.woff2') format('woff');
}


@font-face{
  font-family: 'HMedium';
  src: url('./fonts/TiemposHeadline-Medium.woff2') format('woff');
}


@font-face{
  font-family: 'HSemibold';
  src: url('./fonts/TiemposHeadline-Semibold.woff2') format('woff');
}


@font-face{
  font-family: 'HBold';
  src: url('./fonts/TiemposHeadline-Bold.woff2') format('woff');
}


@font-face{
  font-family: 'HBlack';
  src: url('./fonts/TiemposHeadline-Black.woff2') format('woff');
}






/* TIMES TEXT */

@font-face{
  font-family: 'TRegular';
  src: url('./fonts/TiemposText-Regular.woff2') format('woff');
}


@font-face{
  font-family: 'TRegularItalic';
  src: url('./fonts/TiemposTextApp-RegularItalic.woff') format('woff');
}


@font-face{
  font-family: 'TMedium';
  src: url('./fonts/TiemposText-Medium.woff2') format('woff');
}


@font-face{
  font-family: 'TSemibold';
  src: url('./fonts/TiemposText-Semibold.woff2') format('woff');
}


@font-face{
  font-family: 'TBold';
  src: url('./fonts/TiemposText-Bold.woff2') format('woff');
}


/* font-family: 'TRegular', serif; */

#container{
    padding: 0 3%;
}

#title{
  
  text-align: center;
  text-transform: uppercase;
}

#title h2{
    font-family: 'HRegular', sans-serif;
    font-size: 1.2rem;
    margin-top: 12px;
    margin-bottom:0;
    font-weight: bold;
}

#sol{
    padding-top: 12px;
    padding-bottom: 7px;
    text-align:center;
    position:sticky;
    top:0;
    background-color: rgba(255, 255, 255, 0.93);
}

.pSol{
    font-style: italic;
    font-size: 0.8rem;
    margin: 0 auto;
}




.ley{
    display: flex;
    justify-content: center;
    
}

.ley p{
    margin: 0.5rem auto;
    font-size:0.8rem;
    font-family: 'HMedium';
}



.ley span{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 12px;
}


.masm{
    background-color: #acdb7b;
}

.pp{
    background-color: #05aff0;
}

.cs{
    background-color: #febf00;
}

.psoe{
    background-color: #ff0000;
}

.vox{
    background-color: #05af50;
}

.gm{
    background-color: #333398;
}


/* ITEMS */

#items{
    margin-top: 10px;
}


.item{
    display:flex;
    margin-bottom: 10px;
    background-color: rgba(171, 171, 171, 0.34);
}

.img img{
    height: 96px;
    width: 86px;
    max-width: 150px;
    max-height: 150px;

}

.data{
    text-align: center;
    margin: 0 auto;
}

.data p{
    
    
}

p.name{
    font-family: 'HLight', serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.5rem auto;
    font-weight: bold;
   
}

p.pos{
    margin-top: 0;
    padding: 0 10%;
    font-size: 0.8rem;
    margin-bottom:0;
    font-family: 'HLight', serif;
}

.part{
    padding-top: 4px;
    padding-bottom: 7px;
}


.part span{
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 5px;
}



@media (min-width: 500px) {
    #title h2{
        font-size: 1.3rem;
        font-weight: bold;
    }

    .ley p{
        font-size:.95rem;
    }

    p.name{
        font-size: 0.9rem;
      
       
    }

    p.pos{
        font-size: 0.9rem;
    }

  }
